<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Tweetbak | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway|Inconsolata">
	<style>body{font-family:'Raleway',Helvetica,serif;}article span{font-family:'Inconsolata',Helvetica,serif;}</style>
	<script type="application/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
	<script type="application/javascript" src="/static/js/script.js"></script>
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1><a href="/">Tweetbak</a></h1>
		<h2>Your twitter, backed up</h2>
		<div class="utility">
			{% block headercontent %}
		    <a class="update" href="/refresh?tsid={{tsid}}">Update now</a>&nbsp;|&nbsp;
			<a class="export" href="/export">Export</a>&nbsp;|&nbsp;
		    <a class="configure" href="/configure">Configure</a>&nbsp;|&nbsp;
		    <a class="logout" href="{{ url }}">Logout {{ user.email }}</a><br><br>
				<form action="/tweets" method="get" style="display:inline">
					Viewing tweet stream for: <select name="tsid" onchange="submit()">
					{% for ts in twitterstreams %}
					<option {% ifequal ts.key tsid %}selected="selected"{% endifequal %} value="{{ ts.key }}">{{ ts.twitteruser }}
					{% endfor %}
					</select>
				</form>
			{{ tweetcount }} tweets (of {{ tscount }}) archived<br>
			Last updated {{ lastupdated|date:"M dS, Y" }}.
			<form action="/search" method="get">
				<input type="hidden" name="tsid" value="{{ tsid }}">
				<input type="text" name="term" value="">
			    <button class="button search" type="submit">Search</button>
			</form>
			{% endblock %}
		</div>
	</div>

	<div id="content">
		{% if flash.msg %}
            <div class="flash-msg">{{ flash.msg }}</div>
        {% endif %}
		{% block content %}{% endblock %}
	</div>
	
	<div id="footer">
		<p>&copy; {{ year }} Tweetbak</p>
	</div>
</div>

</body>
</html>
