{% extends "base.html" %}

{% block title %}Configuration{% endblock %}

{% block headercontent %}
<a class="logout" href="{{ url }}">Logout {{ user.email }}</a><br><br>
{% endblock %}

{% block content %}
	<h3>New twitter username to archive:</h3>
	<form action="/configure" method="post" style="display:inline">
		<input type="hidden" value="add" name="action">
		<input type="text" size="25" value="" name="twitteruser">
		<button class="button add" type="submit">Add</button>
	</form>

	<h3>Twitter accounts currently being archived:</h3>
	<form action="/configure" method="post">
		<input type="hidden" value="delete" name="action">
		{% for stream in tweetstreams %}
		<button class="button delete" name="tsid" value="{{ stream.key }}" type="submit">Stop archiving</button>
		<a href="/tweets?tsid={{ stream.key }}"><b>{{ stream.twitteruser|capfirst }}</b></a><br>
		{% endfor %}
	</form>
{% endblock %}
