{% extends "base.html" %}

{% block title %}Tweets{% endblock %}

{% block content %}
	{% if results %}
		{{ results }}<a style="font-size: 75%;display:block;text-decoration:none;" href="/tweets">&laquo; back to full archive</a><br><br>
	{% endif %}

	<section>
		{% for tweet in tweets %}
		<article><span><a href="http://www.twitter.com/{{ tweet.tweetstream.twitteruser }}/status/{{ tweet.tweetid }}">{{ tweet.created|date:"D b d h:iA" }}</a></span>{{ tweet.content }}</article>
		{% endfor %}
		{% if not tweets %}
		<article>Your twitter stream is being archived. Please try again later</article>
		{% endif %}
	</section>

	{% if tweets %}
	<nav>
		{% if prevpage %}<a href="/tweets?page={{ prevpage }}&limit={{ limit }}&tsid={{ tsid }}">&laquo; Prev</a>{% endif %}
		Tweets <b>{{ start }} - {{ end }}</b> of <b>{{ tscount }}</b>
		{% if nextpage %}<a href="/tweets?page={{ nextpage }}&limit={{ limit }}&tsid={{ tsid }}">Next &raquo;</a>{% endif %}
	</nav>
	{% endif %}
{% endblock %}