<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Tweetbak</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<script type="application/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
	<script type="application/javascript" src="/static/js/script.js"></script>
</head>
<body>
<div id="wrap">
	<div id="header">
		<h1><a href="/">Tweetbak</a></h1>
		<h2>Your twitter, backed up</h2>
		<a href="/configure">Configure tweetbak</a>
		<a href="{{ url }}">{{ url_linktext }} {{ user.email }}</a>
	</div>

	<div id="content">
		<div id="page">
			{% if flash.msg %}
	            <div class="flash-msg">{{ flash.msg }}</div>
	        {% endif %}
			<p>{{ tweetcount }} tweet{{ tweets|pluralize }} for <em>{{ twitteruser }}</em> archived. 
			Last updated {{ lastupdated|date:"M dS, Y" }}.
			</p>
			<table>
				<tr>
					<th>Tweet</th>
					<th>Date</th>
				</tr>
				{% for tweet in tweets %}
				<tr>
					<td>{{ tweet.content }}</td>
					<td width="200">{{ tweet.date|date:"D M dS, Y \a\t h:i a" }}</td>
				</tr>
				{% endfor %}
			</table>

			<nav>
				{% if prevpage %}<a href="/tweets?page={{ prevpage }}&limit={{ limit }}">&laquo; Prev</a>{% endif %}
				Tweets {{ start }} - {{ end }} of {{ tweetcount }}
				{% if nextpage %}<a href="/tweets?page={{ nextpage }}&limit={{ limit }}">Next &raquo;</a>{% endif %}
			</nav>
			<br>
		    <div>
		        <form action="/refresh" method="get">
			    <button class="button" type="submit"><img src="/static/images/tick.png" alt="Add" /> Refresh</button>
			</form>
		    </div>
		</div>
	</div>
	
	<div id="footer">
		<p>&copy; {{ year }} Tweetbak</p>
	</div>
</div>

</body>
</html>
