/*
	global
*/
* {
	padding:0;
	margin:0;
}
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.0em;
	background-color:#fff;
	margin:0 auto;
	padding:0;
	height:100%;
}

/*
	structure 
*/
div#header {
    color: #3687C9;
	padding: 0 10px;
}
div#page {
    min-height: 250px;
    padding: 0;
}

h1 {
	font-size:2.2em;
	font-weight:normal;
	line-height:150%;
}

h2 {
	font-size:0.9em;
	font-weight:normal;
	padding:0;
	margin: -10px 0 10px 0;
}

h3 {
	font-size:1.4em;
	font-weight:normal;
}

a {
	color:#910000;
}
a:hover {
	color:#880000;
}

p {
	font-size:90%;
	line-height:150%;
	padding-bottom:15px;
}



div#footer {
	padding: 10px;
}

div#footer p {
	text-align:right;
	margin:0;
	padding:0;
	color:#a4a4a4;
}
div#footer p, div#footer a {
	color:#a4a4a4;
}



input {
	padding:5px;
	background-color:#ffffff;
	border:1px solid #dddddd;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin:0 1px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 0.8em;
  line-height: 1.0em;
  font-weight:bold;
  cursor:pointer;
  padding:2px 5px 2px 5px;
  text-decoration: none;
}

button.button {
  width:auto;
  overflow:visible;
  padding:1px 3px; /* IE6 */
  float: none;
  display: inline;
}
button.button[type] {
  padding:1px 3px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
  padding:2px 5px; /* IE7 */
}

button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}

nav {
    margin: 15px;
}
nav a {
    border: solid 1px;
    padding: 5px;
    margin: 5px;
}

section article {
    border-bottom: dashed 1px #f9f9f9;
}
section article p {
    display:inline;
    margin-top: 5px;
    margin-left: 5px;
	color: #000;
	font-size:1.1em;
}
section article span{
    display:block;
	font-size:75%;
	color: #8e8e8e;
}

nav#stream {
    font-size: .8em;
    float: right;
    padding: 5px;
    color: #6e6e6d;
}
nav#stream form {
    float:left;
    display: inline;
    padding: 5px;
}

div.utility {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: .8em;
    color: #6e6e6d;
    text-align: right;
}

a.img {
    padding-left: 18px;
}
a.export {
    background-image: url(/static/images/email_go.png);
    background-repeat: no-repeat;
}
a.configure {
    background-image: url(/static/images/bricks.png);
    background-repeat: no-repeat;
}
a.logout {
    background-image: url(/static/images/exclamation.png);
    background-repeat: no-repeat;
}
a.update {
    background-image: url(/static/images/arrow_refresh.png);
    background-repeat: no-repeat;
    border: none;
}
