/*
	global
*/
* {
	padding:0;
	margin:0;
}
body {
	font-family:Helvetica;
	font-size:1.0em;
	background-color:#fff;
	margin:0 auto;
	padding:0;
	height:100%;
}

/*
	structure 
*/
div#header {
    color: #3687C9;
	padding: 0 10px;
}
div#content {
    min-height: 250px;
    padding: 10px;
}

h1 {
	font-size:2.2em;
	font-weight:normal;
	line-height:150%;
}

h2 {
	font-size:0.9em;
	font-weight:normal;
	padding:0;
	margin: -10px 0 10px 0;
}

h3 {
	font-size:1.2em;
	font-weight:bold;
	margin-top:20px;
}

a {
	color:#910000;
}
a:hover {
	color:#880000;
}

p {
	font-size:90%;
	line-height:150%;
	padding-bottom:15px;
}



div#footer {
	padding: 10px;
}

div#footer p {
	text-align:right;
	margin:0;
	padding:0;
	color:#a4a4a4;
}
div#footer p, div#footer a {
	color:#a4a4a4;
}



input {
	padding:5px;
	background-color:#ffffff;
	border:1px solid #dddddd;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin: 2px 2px 2px 2px;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 0.8em;
  line-height: 1.0em;
  font-weight:bold;
  cursor:pointer;
  text-decoration: none;
  line-height:18px;
  padding: 2px 2px 2px 20px;
}

button.button {
  width:auto;
  overflow:visible;
  float: none;
  display: inline;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}

nav {
    margin: 15px;
}
nav a {
    border: solid 1px;
    padding: 5px;
    margin: 5px;
}

section article {
    display:block;
    margin: 0px 0 15px 5px;
    border-bottom: dashed 1px #f1f1f1;
}
section article p {
    display: inline;
    margin-top: 5px;
    margin-left: 5px;
	color: #000;
	font-size:1.1em;
}
section article span{
    display: block;
	font-size: 75%;
	color: #8e8e8e;
}
section article span a{
	color: #8e8e8e;
	text-decoration: none;
}

nav#stream {
    font-size: .8em;
    float: right;
    padding: 5px;
    color: #6e6e6d;
}
nav#stream form {
    float:left;
    display: inline;
    padding: 5px;
}

div.utility {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: .8em;
    color: #6e6e6d;
    text-align: right;
}


.add {
    padding-left: 20px;
    background: url(/static/images/tick.png) 2px 50% no-repeat;
}
.delete {
    padding-left: 20px;
    background: url(/static/images/cross.png) 2px 50% no-repeat;
}
.export {
    padding-left: 18px;
    background: url(/static/images/email_go.png) 0 50% no-repeat;
}
.configure {
    padding-left: 18px;
    background: url(/static/images/bricks.png) 0 50% no-repeat;
}
.logout {
    padding-left: 18px;
    background: url(/static/images/exclamation.png) 0 50% no-repeat;
}
.update {
    padding-left: 18px;
    background: url(/static/images/arrow_refresh.png) 0 50% no-repeat;
}
.search {
    padding-left: 18px;
    background: url(/static/images/magnifier.png) 0 50% no-repeat;
}
.flash-msg {
    border: solid 1px #8e8e8e;
    color: #910000;
    font-size: 1.5em;
    font-weight: bold;
    margin: 25px 0;
    padding: 10px 10px;
}